<div class="book-list-container">
    <table class="book-list-table">
        <thead>
            <tr>
                <th class="item">Barkod</th>
                <th class="item">Kitap İsmi</th>
                <th class="item">Ödünç Alınabilir Stok</th>
            </tr>
        </thead>
        <tbody>
            @for (item of books; track $index) {
                <tr>
                    <td class="item">{{item.id}}</td>
                    <td class="item">{{item.bookName}}</td>
                    <td class="item">{{item.currentQuantity}}</td>
                </tr>
            }
        </tbody>
    </table>
    
</div>