
.loan-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-bottom: 20px;
    .loans-table{
        border-spacing: 10px;
        .item{
            width: 130px;
            font-size: 18px;
            color: var(--color5);
            text-align: center;
            background-color: var(--color1);
            border: 7px solid var(--color5);
            border-radius: 20px;
            padding: 10px;
            overflow: hidden;
        }
    }
    
}
